html{/*this is called css resseting*/
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    padding: 20px;
}

h2, h4, p{/*asta punem ca sa scoatem marginile care ne fut design ul de la paragrafe, headere etc*/
    margin: 0;
}

*, *:before, *:after{/*si asta face parte din css resseting*/
    box-sizing: inherit;/*da inherit la root box sizing*/
}

#card {
    width: 600px;
    height:400px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35)/*pot sa caut pe google box shadow generator css*/;

    border-radius: 5px;
    overflow: hidden;/*pentru ca containerele de jos fac overlap peste coltul rotunjit, asa ca le ascundem*/
}

#top-section{
    width:100%;
    height: 45%;
    padding: 25px;
}

#bottom-section {
    width:100%;
    height: 55%;
    color: white;
}

#bottom-left-section {
    width:50%;
    height: 100%;
    display: inline-block;/*initial asta nu o sa mearga sa le puna pe aceeasi linie deoarece existe "whitespace" intre sfarsitul div-ului de la bottom left section si inceputul div ului bottom right section, asa ca trebuie sters acel whitespace(pe viitor cand o sa pot sa folosesc display flex)*/

    vertical-align:top;/*asta o punem pentru ca e mai ciudat inlign block si se da mai jos decat trebuie si il fortam sa fie lipit de sus*/

    background-color: #2ab2af;
    padding: 20px;
}

#bottom-right-section {
    display: inline-block;
    width:50%;
    height: 100%;
    vertical-align: top;
    background-color: #2EBFBD;
    padding: 25px;
}


#top-section h2 {
    color:#2ab2af;
    margin-bottom: 15px;
}

#top-section h4 {
    color: #c0df34;
    margin-bottom: 10px;
}

#top-section p {
    color: #98a6bd;
}

button {
    color:white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.02);
}

#price {
    font-weight:700;
    font-size:1.4rem;
}

#bottom-left-section h4 {
    margin-bottom: 25px;
}

#price-frequency, #price {
    display: inline-block;
}

#price-frequency {
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

#price-container {
    margin-bottom: 10px;
}

#bottom-left-section p {
    font-size: 0.8rem;
    margin-bottom: 40px;
}

ul {
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}
